<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-首页</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="header">
        <a href="#" class="logo fl"><img src="assets/images/logo.png" alt="logo"></a>
        <div class="search_form fl">
            <input type="text" class="search_txt" placeholder="黑洞照片">
            <button class="search_btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="link_info fr">
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
        </div>
    </div>

    <div class="menu_con">
        <div class="menu">
            <div class="menu_collapse fl">
                <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                <ul class="level_two">
                    <li class="up"></li>
                    <!-- 下拉框 -->
                </ul>
            </div>
            <ul class="left_menu fl">
                <!-- 导航条 -->
            </ul>
            <ul class="right_menu fr">
                <li><a href="#">科技专题</a></li>
                <li><a href="#">财经专题</a></li>
            </ul>
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_con">
            <ul class="focus_list">
                <!-- 图片区域 -->
            </ul>

            <div class="common_title">
                <h3><i class="fa fa-edit"></i> 最新资讯</h3>
                <a href="#" class="more"><i class="fa fa-angle-double-right"></i></a>
            </div>

         <!-- 最新资讯 -->

        </div>
        <div class="right_con">
            <div class="common_wrap">
                <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                <ul class="content_list">
                   
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                <ul class="content_list comment_list">
                   <!-- 最新评价 -->
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                <ul class="content_list guanzhu_list">
                    <!-- 一周热门排行 -->

                </ul>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
        <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>
    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/template-web.js"></script>


    <!-- 导航条 -->

    <!-- 模板 -->
    <script id="daoh" type="text/html">
    {{each arr}}
    <li>
        <a href="list.html?id ={{$value.id}}">{{$value.name}}</a>  
    </li>
    {{/each}}
</script>
    <!-- 模板 -->

    <script>
        $.get('/getCategory', function (res) {
            console.log(res)
            var str = template('daoh', {
                arr: res
            })
            $('.level_two').append(str);
            $('.left_menu').html(str)

        }, 'json')

    </script>
    <!-- 导航条 -->



    <!-- 图片区域 -->

    <!-- 模板 -->
    <script id="tup" type="text/html">
    {{each arr}}
    {{if $index==0}}
    <li class="first">
    {{else}}    
     <li> 
    {{/if}}  
            <a href="detail.html?id={{$value.id}}"><img src="{{$value.file}}" alt=""></a>
            <p>{{$value.title}}</p>
        </li>
        {{/each}}
</script>
    <!-- 模板 -->

    <script>
        $.get('/getArticles', 'flag=good', function (res) {
            console.log(res)
            if (res.code == 200) {
                var str = template('tup', {
                    arr: res.data
                })
                $('.focus_list').html(str);

            }
        }, 'json')

    </script>
    <!-- 图片区域 -->

    <!-- 一周热门排行 -->
    <script id="yizph" type="text/html">
        {{each arr}}
        <li>
            {{if $index ==0}}
            <span class="first">
            {{else if $index==1}}
            <span class="second">
            {{else if $index==2}}
            <span class="third">
            {{else}}
            <span>
            {{/if}}
                {{$index+1}}
            </span>
            <a href="./detail.html?di={{$value.id}}">{{$value.title}}</a>
        </li>
        {{/each}}
    </script>


    <script>
        $.get('/getArticles', {flag:'click',num:7}, function (res) {
            // console.log(res)
            if (res.code === 200) {
                var str = template('yizph',{
                    arr: res.data
                })
                $('.content_list').eq(0).html(str)
            }
        }, 'json')
    </script>
    <!-- 一周热门排行 -->


    <!-- 焦点关注 -->
    <!-- 模板 -->
    <script id="jiaodgz" type="text/html">
        {{each arr}}
        <li>
            <a href="./detail.html?di={{$value.id}}">{{$value.title}}</a>
        </li>
        {{/each}}
    </script>
    <!-- 模板 -->


    <script>
    $.get('/getArticles',{flag:'bad',num:7},function(res){
        if(res.code===200){
            var str= template('jiaodgz',{
                arr:res.data
            })
            $('.guanzhu_list').html(str)
        }
    })
    
    </script>
    <!-- 焦点关注 -->



<!-- 最新资讯 -->
<script id="zuixin" type="text/html">
    {{each arr}}
    <div class="common_news_list">
            <a href="./detail.html?id={{$value.id}}" class="list_pic"><img src="{{$value.file}}" alt=""></a>
            <h4><a href="./detail.html?id={{$value.id}}">{{$value.title}} </a></h4>
            <p>{{$value.desc}}</p>
            
            <div class="new_info">
                <span><i class="fa fa-eye"></i>&nbsp;阅读( {{$value.desc}}
                    )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                <b>{{$value.addtime}}</b>
            </div>
        </div>
        {{/each}}
</script>


<script>
    $.get('/getArticles',{flag:'id'},function(res){
        console.log(res)
        var str =template('zuixin',{
            arr:res.data
        })
        $('.left_con').append(str)
    })


</script>
<!-- 最新资讯 -->


<!-- 最新评论 -->

<!-- 模板 -->
<script id="zuixinpl" type="text/html">
    {{each arr}}
    <li>
            <span>山</span>
            <b><em>山治</em> 9个月前(08-14)说:</b>
            <strong>挺会玩的</strong>
    </li>
    {{/each}}

</script>
<!-- 模板 -->

<script>
$.get('/getArticles',{flag:'id',num:6},function(res){
    var str = template('zuixinpl',{
        arr:res.data
    })
    $('.comment_list').html(str);
})
</script>



<!-- 最新评论 -->





</body>

</html>